version: "3.8"

services:
  backend:
    build:
      context: ./backend
    command: /start_prod.sh
    environment:
      - "DJANGO_DEBUG=False"
    networks:
      - app-network
    volumes:
      - django-static:/code/backend/static
      - .:/code
    depends_on:
      - db

  db:
    image: postgres
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
    networks:
      - app-network

  caddy:
    build: # <-- ИЗМЕНЕНИЕ: Вместо 'image' используем 'build'
      context: .
      dockerfile: caddy/Dockerfile
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    networks:
      - app-network
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile      # Конфигурация Caddy
      - django-static:/usr/src/app/static      # Статика Django
      - caddy_data:/data                       # Сертификаты SSL
    depends_on:
      - backend

volumes:
  django-static:
  caddy_data: {}

networks:
  app-network:
    driver: bridge